<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>County Description</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <h1><%= county %> County</h1>

    <!-- Display the result -->
    <!-- <div id="text"><%= result %></div> -->
    
<!-- Link to go back to the Home Page
<form action="/" method="GET">
    <button type="submit">Back to Home</button>
</form> -->

<div id="option-buttons" class="btngrid">
<!-- Links converted to buttons with form submission -->
<form action="/fetch-high-heat" method="GET">
    <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
    <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
    <button type="submit" class="bttn">High Heat</button>
</form>

<form action="/fetch-sea-level-rise" method="GET">
    <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
    <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
    <button type="submit" class="bttn">Sea Level Rise</button>
</form>

<form action="/fetch-precipitation-and-storms" method="GET">
    <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
    <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
    <button type="submit" class="bttn">Precipitation and Storms</button>
</form>

<form action="/fetch-wildfires" method="GET">
    <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
    <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
    <button type="submit" class="bttn">Wildfires</button>
</form>

<form action="/reflection" method="GET">
    <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
    <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
    <button type="submit" class="bttn">Next</button>
</form>

</div>


    </div>
</body>
</html>