<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea Level Rise Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Sea Level Rise - <%= county %></h1>

    <!-- Display the result -->
    <div id="text"><%= result %></div>

    <!-- Link to go back to the Home Page -->
    <div id="option-buttons" class="btngrid">
    <form action="/fetch-county" method="GET">
        <input type="hidden" name="county" value="<%= encodeURIComponent(county) %>">
        <input type="hidden" name="year" value="<%= encodeURIComponent(selectedYear) %>">
        <input type="hidden" name="biome" value="<%= encodeURIComponent(selectedBiome) %>">
        <button type="submit" class="bttn">Back</button>
    </form>
</div>
</div>
</body>
</html>
